<h3>New Movie</h3>

<form action="/movies/create" method="post">
   <label for="title"> Title:</label>
    <input id="title" type="text" name="title"></input>
  <br>
  <label for="genre"> Genre:</label>
    <input id="genre" type="text" name="genre"></input>
  <br>
  <label for="plot"> Plot:</label>
    <input id="plot" type="text" name="plot"></input>
  <br>
  <label for="cast"> Cast:</label>
    <select name="cast" id="cast" multiple="multiple">
      {{#each response}}
      <option value="{{id}}">{{name}}</option>
      {{/each}}
    </select>
  <br>
  <button type="submit"> Create </button>
</form>