<h3>New Movie</h3>

<form action="/movies/create" method="post">
   <label for="title"> Title:</label>
    <input id="title" type="text" name="title" />
  

  <label for="Genre"> Genre:</label>
    <input id="Genre" type="text" name="Genre" />
  

  <label for="Plot"> Plot:</label>
    <input id="Plot" type="text" name="Plot" />
  
  
  <label for="Cast"> Cast:</label>
    <input id="Cast" type="text" name="Cast" />
  

  <button type="submit"> Create </button>
</form>